.wrapper{
  width: 100%;
  height: 100%;
  background-image: url('./background.jpg');
  background-color: rgb(247, 244, 243);
  background-size: cover;
  background-position: 55% 60%;
  display: flex;
  align-items: center;
  text-align: right;
  line-height: 1.5em;
}

.innerWrapper {
  width: 40%;
  margin-left: 10%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 50vh;
  max-height: 300px;
}

.innerWrapper > * {
  animation: floatUp 3s;
  animation-fill-mode: forwards;
  opacity: 0;

  &:nth-child(2) {
    animation-delay: 0.5s;
  }
  &:nth-child(3) {
    animation-delay: 1s;
  }
}


@keyframes floatUp {
  0% {
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
  }
}



.poweredBy {
  font-size: 75%;
}


.footer {
  position: absolute;
  bottom: 1em;
  text-align: center;
  font-size: 60%;
  left: 0;
  right: 0;
  opacity: 0.5;
  transition: opacity 0.3s;

  &:hover {
    opacity: 1;
  }

  & a {
    color: rgb(63, 81, 181);
    text-decoration: none;
  }
}
